* {
    text-align: center;
}

.App {
    display: grid;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right top, #185a9d, #43cea2);
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    height: 300px;
    width: 400px;
    border: 4px solid black;
}

.cell {
    background-color: #61dafb;
    border: 2px solid black;
    align-content: center;
    font-size: 40px;
}

.startButton {
    margin: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
}

.triesCounter {
    font-weight: 700;
}

.winnerNotification {
    font-weight: 900;
    font-size: 20px;

}

.bottomMenu {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.sideNav {
    transform: rotate(-90deg);
}

.sideMenu {
    min-height: 100vh;
    width: 70px;
}

.navbrandimg {
    position: absolute;
    top: 0;
}

.collapsemenu {
    width: 5em;
}

.navtog {
    position: relative;
    right: 6px;
}

@media all and (width < 576px) {
    .sideMenuCol {
        width: 300px;
    }
}