* {
    text-align: center;
}

.App {
    background: linear-gradient(to right top, #185a9d, #43cea2);
    position: fixed;
    width: 100vw;

}

.board {
    display: grid;
    width: 50vw;
    height: 50vh;
    border: none;
}


.cell {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    align-content: center;
    font-size: 40px;
}

@media (width < 600px) or (height < 600px) {
    .cell {
        background-color: white;
        border: none;
        border-radius: 5px;
        margin: 2px;
        align-content: center;
        font-size: 15px;
    }
}

.startButton {
    margin: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
}

.triesCounter {
    font-weight: 700;
}

.winnerNotification {
    font-weight: 900;
    font-size: 20px;

}

.bottomMenu {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-between;
}

.sideNav {
    transform: rotate(-90deg);
}

.sideMenu {
    min-height: 100vh;
    width: 70px;
}

.navbrandimg {
    position: absolute;
    top: 0;
}

.collapsemenu {
    width: 5em;
}

.navtog {
    position: relative;
    right: 6px;
}

@media (width < 576px) {
    .sideMenuCol {
        width: 300px;
    }
}

.startgamebutton {
     border-radius: 5px;
     border: none;
     background: white;
     color: lightseagreen;
     height: 33px;
     font-weight: 500;
 }

.startgamebuttonhover:hover {
    background: coral;
    color: white;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
}

.restartbutton {
    border-radius: 5px;
    border: none;
    background: white;
    color: darkseagreen;
    height: 33px;
    font-weight: 600;
}

.restartbutton:hover {
    background: orangered;
    color: white;
}

.selector {
    max-width: 7vw;
}

.cantstartgamephrase {
    color: orangered;
    font-size: 1rem;
    margin-bottom: 10px;
}

.backbutton {
    height: 6vh;
    width: 3vw;
    position: relative;
    left: 3px;
    top: 2px;
    border: 1px solid transparent;
}

.backbutton:hover {
    background: #61dafb;
    color: white;
}